<form action="" [formGroup]="singUpForm" class="form__sign-up">
  <div class="wrapper">
    <div class="login">
      <div class="login-form">
        <h1 class="login-title">Sign up</h1>
        <div class="form-wrapper">
          <div class="input-wrapper">
            <label class="label" for="name">Name</label>
            <input class="input" type="text" id="name" formControlName="name" name="Name" required
              autocomplete="off" />
            <span class="error" *ngIf="name?.invalid && (name?.touched || submit )">Name is required</span>
          </div><br>
          <div class="input-wrapper">
            <label class="label" for="email">Email Address</label>
            <input class="input" type="text" id="email" formControlName="email" name="Email" required
              autocomplete="off" />
            <span class="error" *ngIf="email?.invalid && (email?.touched || submit )">Valid email id is required</span>
          </div><br>
          <div class="input-wrapper">
            <label class="label" for="password">Password</label>
            <input class="input" type="password" id="password" formControlName="password" name="password" required />
            <span class="error" *ngIf="password?.invalid && (password?.touched || submit )">Password is required</span>
          </div>
          <div class="action-help">
          </div>
          <div class="actions">
            <button class="action" (click)="loginFn()">Submit</button>
            <div class="signup-action">
              <p>Already an have account? <a class="signup-link" routerLink="/sign-in">Sign In</a></p>
            </div>
          </div>

        </div>
      </div>
      <div class="login-decoration">

      </div>
    </div>
  </div>
</form>

<style>
  .error {
    color: red;
  }

  .wrapper {
    width: 100vw;
    min-height: 100vh;
    background-color: #502ead66;
    padding: 30px 15px;
    background: linear-gradient(45deg, #8a85d166, #2a0c5a66);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
  }

  .login .login-form {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    max-width: 50%;
    background-color: #fff;
    padding: 60px 45px;
  }

  @media only screen and (max-width: 767.98px) {
    .login .login-form {
      max-width: 100%;
    }
  }

  @media only screen and (max-width: 575.98px) {
    .login .login-form {
      padding: 40px 20px;
    }
  }

  .login .login-form .login-title {
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    color: #393939;
    margin-bottom: 25px;
  }

  .login .login-form .form-wrapper .input-wrapper .label,
  .login .login-form .form-wrapper .input-wrapper .input {
    display: block;
    width: 100%;
  }

  .login .login-form .form-wrapper .input-wrapper .label {
    padding-bottom: 3px;
    font-size: 0.9rem;
    color: #393939;
  }

  .login .login-form .form-wrapper .input-wrapper .input {
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid #cae9c4;
  }

  .login .login-form .form-wrapper .action-help {
    padding: 20px 0;
  }

  .login .login-form .form-wrapper .action-help .help-link {
    color: #583177;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 0.9rem;
  }

  .login .login-form .form-wrapper .action-help .help-link:hover {
    color: #fe7092;
  }

  .login .login-form .form-wrapper .actions {
    display: flex;
    flex-flow: column;
  }

  .login .login-form .form-wrapper .actions .action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 15px;
    border-radius: 25px;
    color: #fff;
    background-color: #4d1831;
    text-decoration: none;
    border: 1px solid #184d47;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-size: 0.9rem;
  }

  .login .login-form .form-wrapper .actions .action:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 25px -15px rgba(0, 0, 0, 0.5);
  }

  .login .login-form .form-wrapper .actions .signup-action {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .login .login-form .form-wrapper .actions .signup-action .signup-link {
    color: #184d47;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .login .login-form .form-wrapper .actions .signup-action .signup-link:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 25px -15px rgba(0, 0, 0, 0.5);
  }

  .login .login-decoration {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    background-image: url(https://imgs.bharatmatrimony.com/bmimgs/login/login-otp-banner.png);
    background-position: center;
    background-size: cover;
  }

  @media only screen and (max-width: 767.98px) {
    .login .login-decoration {
      display: none;
    }
  }
</style>